<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{siteRootUrl}}}">
        <img class="logo" src="{{{uiRootPath}}}/img/magnolia-medium.png" style="width: 10rem; height:auto; margin-left:0.8rem; margin-top:0.4rem;" alt="Magnolia">
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Releases</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Core</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Getting Started</a>
            <a class="navbar-item" href="#">Features</a>
            <a class="navbar-item" href="#">Developing</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Cloud</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Getting Started</a>
            <a class="navbar-item" href="#">Features</a>
            <a class="navbar-item" href="#">Cloud Light Development</a>
            <a class="navbar-item" href="#">Upgrading in the Cloud</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Headless</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Getting Started</a>
            <a class="navbar-item" href="#">Visual SPA Editor</a>
            <a class="navbar-item" href="#">API</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Get Magnolia</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
  <div class="lower-head">
    
  </div>
</header>
