footer.footer {
  background-color: #689600;
  color: var(--color-smoke-10);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 1px;
  z-index: 5;
  position: sticky;
}

.footer p {
  margin: 0.5rem 0;
  text-align: center;
}

.footer p.display {
  font-size: calc(22 / var(--rem-base) * 1rem);
}

.footer a {
  color: var(--footer-link-font-color);
}

.footer a:hover {
  color: #ffbf28;
  text-decoration: none;
}

.footer i {
  color: white;
}

.footer i:hover {
  color: #ffbf28;
}

div.footer-bottom {
  padding-bottom: 5px;
  width: 50%;
  margin: auto;
  text-align: center;
}

div.bottom-icons {
  width: 9%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1023px) {
  div.bottom-icons {
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.5rem;
  }
}

.footer-hr {
  border-top: 0.85px solid #ffbf28;
}

.footer-button {
  color: var(--color-smoke-10);
  background: var(--color-jet-30);
  margin-top: 5px;
  padding: 10px;
  border-radius: 2px;
  transition-duration: 0.4s;
  border: none;
}

.footer-button:hover {
  background-color: #ffbf28;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.75);
}

.bottom-logo {
  display: block;
  width: 100px;
  height: 50px;
  padding-bottom: 15px;
  background-image: url(../img/magnolia-medium-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  text-align: center;
}
