.print-div {
  display: none;
  margin-right: 0.7rem;
  position: relative;
  line-height: 1;
}

@media screen and (min-width: 1024px) {
  .print-div {
    display: block;
  }
}

.print-div .print-toggle {
  background: url(../img/chevron.svg) no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: auto 0.75em;
  background-color: var(--color-smoke-90);
  color: #434e60;
  /* border-radius: 4px; */
  transition: ease-in  0.1s;
  outline: none;
  line-height: inherit;
  padding: 0.4rem 1.5rem 0.4rem 0.55rem;
  position: relative;
  z-index: var(--z-index-page-version-menu);
  margin-bottom: 5px;
  border: none;
  font-size: calc(15 / var(--rem-base) * 1rem);
}

.print-div .print-toggle:hover {
  box-shadow: -1px 1px 6px 1px rgba(0, 0, 0, 0.05);
  transition: ease-out  0.1s;
}

.print-div .pdf-menu {
  border: 1px solid transparent;
  background-color: #434e60f3;
  box-shadow: -1px 1px 6px 1px rgba(255, 255, 255, 0.445);
  padding: 0.5rem 0.75rem 1rem 0.85rem;
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  margin-top: 5px;
  color: whitesmoke;
  font-size: 0.9rem;
  transition: ease-in 1s;
}

.print-div .print-pdf:hover {
  color: var(--color-orangeLogo);
  text-decoration: none;
}

.print-div:not(.is-active) .pdf-menu {
  display: none;
}

.print-div .print-pdf {
  display: block;
  padding-top: 0.5rem;
}
