#searchBar {
  margin-left: 5.75rem;
  padding-left: 2rem;
  height: 60%;
  margin-top: 12px;
  margin-bottom: auto;
  width: fit-content;
  min-width: 350px;
  border-radius: 3px;
  border: none;
  background-color: whitesmoke;
  color: #434e60;
  font-family: var(--body-font-family);
}

#searchBar:focus {
  outline: 0;
}

#searchBar:disabled {
  background: var(--color-gray-10);
}

@media screen and (max-width: 900px) {
  #searchBar {
    display: none;
  }
}
