<footer class="footer">
    <p> &copy; <span id="year"></span> <a href="http://www.magnolia-cms.com" target="_blank"
        title="Link to Magnolia's official website" class="footer-link">Magnolia CMS</a></p>
    
    <div class="footer-bottom">
      <hr class="footer-hr">
      {{!-- <a href="mailto:documentation@magnolia-cms.com">
        <button class="footer-button"><i class="fas fa-book-reader" style="padding-right: 2px;"></i> Stay in touch with docs</button>
      </a> --}}
    </div>

    <div class="bottom-icons">
      <a href="https://www.facebook.com/Magnolia" target="_blank" title="Magnolia's Facebook Page"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a> <a href="https://twitter.com/magnolia_cms" target="_blank" title="Magnolia's Twitter Page"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/company/magnolia-cms/" target="_blank" title="Magnolia's LinkedIn Page"><i
        class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </div>

    <div class="bottom-logo">

    </div>

</footer>
